.about-split {
    display: flex;
    flex-direction: row-reverse;
    align-items: stretch;
    min-height: 60vh;
    background: #fff;
    direction: rtl;
    margin: 3rem 2rem  ;
  }
  
  .about-image {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f8fafc;
  }
  
  .about-image img,
  .about-image .next-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-height: 50vh
  }
  
  .about-content-split {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem 2rem;
    text-align: center;
  }
  
  .about-content-split h2 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
    color: var(--color-dark);
    font-family: var(--font-assistant);
  }
  
  .about-content-split p {
    font-size: 1.1rem;
    color: var(--color-dark);
    font-family: var(--font-assistant);
    width: 600px;
  }
  